*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background: darkslategray;
}

menu{
    list-style-type: none;
}
.menu li{
    display: inline-block;
    font-family: 'Redressed', cursive;
    margin: 0.3rem;
    padding: 0.5rem;

}

.menu li a{
    color: black;
    text-align: end;
    text-decoration: none;
    font-size: 1.5rem;
    
}

nav {

    display: flex;
    justify-content: end;
    
    }

li :hover{
    background-color: aqua;
}

h3{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: rgb(126, 235, 235);
    word-spacing: 3px;
    text-decoration: double;
    font-size: 2.2rem;
    text-align: center;
    padding: 2rem;
}

.container{
 align: center;
 size: 2px;
 width: 20%;

}

.parrafos-header{
    width: 90%;
    margin: 20px auto;
    display: grid;
    text-align: justify;
    grid-template-columns: 1fr;
    grid-template-rows: auto 1fr;
    gap: 8px;
    grid-area: parafos-header;
    grid-template-areas: 
    "parrafo1 parrafo1 "
    "parrafo2 parrafo3";
}

.parrafos-columns{
    width: 90%;
    margin: 20px auto;
    display: grid;
    text-align: justify;
    grid-template-columns:1fr 1fr;
    grid-template-rows: 1fr;
    gap: 8px;
    grid-area: parafos-columns;
    grid-template-areas: 
    "parrafo1 parrafo1 "
    "parrafo2 parrafo3";
}

.parra{
    margin: 20px;
    padding: 10px;
    width: auto;
    justify-content: center;
    word-spacing: 2px;
    font-size: 1.5rem;
    word-spacing: 0.7px;
    font-family: 'Redressed', cursive;

}

.parrafo1{
    background: linear-gradient( darkslategray, rgb(51, 49, 49));
    color: burlywood;
}
.parrafo2{
    background: linear-gradient(to right, rgb(51, 49, 49), darkslategray);
    color: rgb(240, 171, 81);
}
.parrafo3{
    background: linear-gradient(to left, rgb(51, 49, 49), darkslategray);
    color: rgb(185, 108, 6);
}

.botones{
    margin: 20px;
    padding: 10px;
    text-align: center;
    font-family: 'Redressed', cursive;

}

