* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: beige;
  background: #0b5268;
  font-family: "Redressed", cursive;
}

menu {
  list-style-type: none;
  color: beige;
}
.menu li {
  display: inline-block;
  margin: 0.3rem;
  padding: 0.5rem;
}

.menu li a {
  text-align: end;
  text-decoration: none;
  font-size: 1.5rem;
}

nav {
  display: flex;
  justify-content: end;
}

li :hover {
  background-color: #00ffff;
}

h3 {
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  color: #7eebeb;
  word-spacing: 3px;
  text-decoration: double;
  font-size: 2.2rem;
  text-align: center;
  padding: 2rem;
}

.img-carusel {
  position: relative;
  size: 2px;
  width: 50%;
  margin: auto;
}

.parrafos-header {
  width: 90%;
  margin: 20px auto;
  display: grid;
  text-align: justify;
  grid-template-columns: 1fr;
  grid-template-rows: auto 1fr;
  gap: 8px;
  grid-area: parafos-header;
  grid-template-areas:
    "parrafo1 parrafo1"
    "parrafo2 parrafo3";
}

.parrafos-columns {
  width: 90%;
  margin: 20px auto;
  display: grid;
  text-align: justify;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
  gap: 8px;
  grid-area: parafos-columns;
  grid-template-areas:
    "parrafo1 parrafo1 "
    "parrafo2 parrafo3";
}

.parra {
  margin: 20px;
  padding: 10px;
  width: auto;
  justify-content: center;
  word-spacing: 2px;
  font-size: 1.5rem;
  word-spacing: 0.7px;
}

.parrafo1 {
  background: linear-gradient(darkslategray, rgb(51, 49, 49));
}
.parrafo2 {
  background: linear-gradient(to right, rgb(51, 49, 49), darkslategray);
}
.parrafo3 {
  background: linear-gradient(to left, rgb(51, 49, 49), darkslategray);
}

.carousel-item {
  overflow-y: hidden;
  height: 370px;
}

/* inicio de quienes somos */

.quienesomos {
  font-size: 1.5rem;
  padding: 3px;
  text-align: center;
}

/* inicio productos*/

.product-container {
    gap: 0.5rem;
}

.product-item {
    background-color: #00ffff;
    width: 100%;
    max-width: 24.46%;
    height: 300px;
}

/* inicio contactenos */

.contact-list {
    list-style: none;
    margin: 0;
    padding: 0;
}

/* ubicacion*/

.map-container {
    height: 500px;
    overflow: hidden;
    
}

.map-container img {
    width: 100%;
}